mail_recive:
    - someone@163.com

dir_backup:
    discuz_codes: /www/close
    wordpress_codes: /www/close

mysql_backup:
    discuz_sql: bbs
    wordpress_sql: bbs

compress:
    size_bag: 5
    password: password

gmail_send:
    user: sendone@mail.com
    password: password